<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="examensarbete.diacert_android">

    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity
            android:name=".MainActivity"
            android:label="Översikt"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity android:name=".ConnectionActivity"
        android:label="DiaCert_forAndroid" android:theme="@style/AppTheme.NoActionBar" android:permission="android.permission.INTERNET">
        </activity>
        <activity android:name=".ApiActivity" android:label="DiaCert_forAndroid" android:theme="@style/AppTheme.NoActionBar"
            android:permission="android.permission.INTERNET">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".AsthmaForm.AsthmaTestActivity"
            android:label="DiaCert_forAndroid" android:theme="@style/AppTheme.NoActionBar">
        </activity>
    </application>

</manifest>
